body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parent {
  width: 98%;
  height: 98vh;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
.topLeft {
  width: 50%;
  height: 50%;
  float: left;
  background-color: rgb(170, 170, 224);
}
.topRight {
  width:50%;
  height: 50%;
  float: left;
  background-color: rgb(177, 228, 165);
}

.bottomLeft {
  width:50%;
  height: 50%;
  float: left;
  background-color: rgb(133, 217, 250);
}
.bottomRight {
  width: 50%;
  height: 50%;
  float: left;
  background-color: rgb(180, 228, 201);
}
table {
  width: 100%;
}
td {
  text-align: center;
}
